{{ define "main" }}
<article
  class="h-full flex flex-col items-center justify-center text-center"
>
  <header class="flex flex-col items-center mb-3">
    {{ with .Site.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fit "288x288 Center" }}
        <img
          class="mb-2 rounded-full h-36 w-36"
          width="144"
          height="144"
          alt="{{ $.Site.Author.name | default "Author" }}"
          src="{{ $authorImage.RelPermalink }}"
        />
      {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Author.headline }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
    <div class="mt-1 mb-1.5 text-2xl">
      {{ with .Site.Author.links }}
        <div class="flex flex-wrap text-neutral-400 dark:text-neutral-500">
          {{ range $links := . }}
            {{ range $name, $url := $links }}
              <a
                class="px-2 transition-transform hover:scale-125 hover:text-primary-700 dark:hover:text-primary-400"
                style="will-change:transform;"
                href="{{ $url | safeURL }}"
                target="_blank"
                aria-label="{{ $name | title }}"
                rel="me noopener noreferrer"
                >{{ partial "icon.html" $name }}</a
              >
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  </header>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
{{ end }}
