{{ define "main" }}

<header><h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Archives</h1></header>

<article class="h-full flex justify-center">

    <div class="container mx-auto py-6 px-4">
        {{ range .Site.RegularPages.GroupByDate "January 2006" }}
        {{ if gt "January 2001" .Key}}
            {{ continue }}
        {{ end }}
        <h2 class="mt-5 text-xl font-bold first:mt-0">{{ .Key }}</h2>
        <hr class="border-dotted w-48 border-neutral-400" />
        <ul class="list-disc pl-4 mt-2">
            {{ range .Pages }}
            <li class="mt-2">
                <a class="decoration-primary-500 hover:underline hover:underline-offset-2" href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="text-neutral-500 text-sm">{{ .Date.Format "Jan 2, 2006" }}</span>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>


    <!-- <section>
        {{ if $.Params.groupByYear | default ($.Site.Params.list.groupByYear | default true) }}
          {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
            <h2 class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
              {{ .Key }}
            </h2>
            <hr class="border-dotted w-36 border-neutral-400" />
            {{ range .Pages }}
              {{ partial "article-link.html" . }}
            {{ end }}
          {{ end }}
        {{ else }}
          {{ range (.Paginate .Pages).Pages }}
            {{ partial "article-link.html" . }}
          {{ end }}
        {{ end }}
      </section>
      {{ partial "pagination.html" . }} -->

</article>

{{ end }}
