{{ define "main" }}

<header><h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Archives</h1></header>

<article class="h-full flex justify-center">

    <div class="container mx-auto py-6 px-4">
        {{ range .Site.RegularPages.GroupByDate "January 2006" }}
        {{ if eq "January 0001" time .Key}}
            {{ continue }}
        {{ end }}
        <h2 class="mt-5 text-xl font-bold first:mt-0">{{ .Key }} ({{ len .Pages }})</h2>
        <hr class="border-dotted w-48 border-neutral-400" />
        <ul class="list-disc pl-4 mt-2">
            {{ range .Pages }}
            <li class="mt-2">
                <a class="decoration-primary-500 hover:underline hover:underline-offset-2" href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="text-neutral-500 text-sm">{{ .Date.Format "Jan 2, 2006" }}</span>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</article>

{{ end }}
