{{ define "main" }}

<header><h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Friends</h1></header>

<article class="h-full flex justify-center">

    <div class="container mx-auto py-6 px-0">
        <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <div class="flex bg-transparent">
                <div class="p-6">
                    <img src="https://blog.yunshu.site/img/avatar.png" class="w-20 h-20 rounded-lg">
                </div>
                <div class="p-4 w-2/3 self-center">
                    <a href="https://blog.yunshu.site/" target="_blank" class="text-xl font-bond decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral font-bold mb-2">Yunshu's Blog</a>
                    <p class="prose py-1 dark:prose-invert">楚虽三户，亡秦必楚！</p>
                </div>
            </div>

            <div class="flex bg-transparent">
                <div class="p-6">
                    <img src="https://cdn.dbkuaizi.com/static/image/avatar.jpg" class="w-20 h-20 rounded-lg" >
                </div>
                <div class="p-4 w-2/3 self-center">
                    <a href="https://www.dbkuaizi.com/" target="_blank" class="text-xl font-bond decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral font-bold mb-2">两双筷子</a>
                    <p class="prose py-1 dark:prose-invert">人生没有退格键，只有保存和确认。</p>
                </div>
            </div>
        </div>
    </div>

</article>

{{ end }}
