{{ define "main" }}
<section>
<header><h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Friends</h1></header>

<article class="h-full flex justify-center">
    <div class="container mx-auto py-6 px-0">
        <div class="text-lg"></div>
        <div class="grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <div class="flex bg-transparent">
                <div class="p-6">
                    <img src="/friends/yunshu.png" class="w-20 rounded-lg">
                </div>
                <div class="p-4 w-2/3 self-center">
                    <a href="https://blog.yunshu.site/" target="_blank" class="text-xl font-bond decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral font-bold mb-2">Yunshu's Blog</a>
                    <p class="prose py-1 dark:prose-invert">楚虽三户，亡秦必楚</p>
                </div>
            </div>

            <div class="flex bg-transparent">
                <div class="p-6">
                    <img src="/friends/kuaizi.webp" class="w-20 rounded-lg" >
                </div>
                <div class="p-4 w-2/3 self-center">
                    <a href="https://www.dbkuaizi.com/" target="_blank" class="text-xl font-bond decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral font-bold mb-2">两双筷子</a>
                    <p class="prose py-1 dark:prose-invert">人生没有退格键，只有保存和确认</p>
                </div>
            </div>

            <div class="flex bg-transparent">
                <div class="p-6">
                    <img src="/friends/sehnsucht.png" class="w-20 rounded-lg" >
                </div>
                <div class="p-4 w-2/3 self-center">
                    <a href="https://blog.sehnsucht.top/zh/" target="_blank" class="text-xl font-bond decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral font-bold mb-2">Sehnsucht</a>
                    <p class="prose py-1 dark:prose-invert">Transient</p>
                </div>
            </div>

            <div class="flex bg-transparent">
                <div class="p-6">
                    <img src="/friends/awumiao.png" class="w-20 rounded-lg" >
                </div>
                <div class="p-4 w-2/3 self-center">
                    <a href="https://blog.awumiao.org/" target="_blank" class="text-xl font-bond decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral font-bold mb-2">啊呜喵</a>
                    <p class="prose py-1 dark:prose-invert">念念不忘，必有回响</p>
                </div>
            </div>

        </div>

        <div class="flex mt-5 px-4 py-3 rounded-md bg-primary-50 dark:bg-primary-900">
            <span class="pe-3 text-primary-400">
                <span class="relative inline-block align-middle icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/></svg>
                </span>
            </span>
            <span class="text-lg dark:text-neutral-200">
                很高兴在这广袤的网络空间里与你相遇！请留言以便交换友链。Please leave a message to exchange links! &nbsp;🎉
            </span>
        </div>
    </div>
</article>

<footer>
    <div class="mt-0">
        <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
        <div class="pt-3">
          {{ partial "comments.html" . }}
        </div>
      </div>
</footer>
</section>
{{ end }}
