{{ define "main" }}
<section>
<header>
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">Travel Map</h1>
    <h2 class="mt-0 py-6 text-4xl font-extrabold text-neutral-900 dark:text-neutral">🇨🇳 🇺🇸 🇸🇬 🇨🇦 🇲🇽 🇫🇷 🇧🇪 🇳🇱 🇩🇪 🇨🇿 🇦🇹 🇸🇰 🇭🇺 🇸🇮 🇮🇹🇨🇭🇵🇷 🇮🇸 🇪🇸 🇬🇷</h2>
</header>

<article class="h-full flex justify-center">
    <div class="container mx-auto px-0">
        <iframe class="mx-auto my-0 rounded-md h-[70vh]" src="https://snazzymaps.com/embed/482375" width="100%" style="min-height: 30rem"></iframe>
    </div>
</article>

</section>
{{ end }}
