.homepage-heading {
    font-family: 'HanziPen SC', 'backup', cursive;
    line-height: 1.9;
}
.text-homepage-heading {
    font-size: 1.5rem;
}
@media (min-width: 390px) {
    .text-homepage-heading {
      font-size: 1.9rem;
    }
}
@font-face {
	font-family: backup;
	font-display: swap;
    font-weight: 100;
    font-stretch: ultra-expanded;
	src:url('/fonts/hanzipen-sc-regular.otf') format('woff2');
}
@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
