.homepage-heading {
    font-family: 'HanziPen SC', 'backup', cursive;
    line-height: 1.9;
}
.text-2-5xl {
    font-size: 1.7rem;
}
@media (min-width: 380px) {
    .text-3-5xl {
      font-size: 1.88rem;
    }
}
@media (min-width: 1024px) {
    .text-3-5xl {
      font-size: 2.0rem;
    }
}
@font-face {
	font-family: backup;
	font-display: swap;
    font-weight: 100;
    font-stretch: ultra-expanded;
	src:url('/fonts/hanzipen-sc-regular.otf') format('woff2');
}
