<article class="max-w-full prose dark:prose-invert">
    <h1 class="text-2xl font-bold font-serif text-gray-800 leading-10" style="font-family: 'HanziPen SC', cursive; font-stretch:wider;">
        生活不是你活过的样子，<span class="block sm:hidden"></span>而是你记住的样子。
    </h1>
</article>

<section>
    {{ partial "recent-articles.html" . }}
</section>

<div class="text-right md:text-left pt-7 -mb-2">
    <a href="/posts" class="inline-block font-semibold text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">Read more</a>
</div>
