<article class="max-w-full prose dark:prose-invert">
    <h1 class="text-homepage-heading text-gray-800 homepage-heading">
        生活不是你活过的样子，<span class="block sm:hidden"></span>而是你记住的样子。
    </h1>

    <h3 class="-mt-4">
        <span>{{ partial "icon.html" "pencil" }}</span>&nbsp;{{ partial "count-posts.html" . }}Posts
        &nbsp;
        <span>{{ partial "icon.html" "calendar" }}</span>{{ partial "count-days.html" . }}&nbsp;Days
    </h3>
</article>

<section>
    {{ partial "recent-articles.html" . }}
</section>

<div class="text-left pt-7 -mb-2">
    <a href="/posts" class="inline-block font-semibold text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">Read more</a>
</div>
